.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.mat-header-row {
  align-items: unset
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-table {
  overflow: auto;
  min-height: 450px;
  max-height: 450px;
}

.mat-cell {font-size: 12px}
.mat-header-cell{font-size: 14px}


