<table>
  <tr>
    <td style="vertical-align:top">
      <div class="form-container">
        <mat-form-field>
          Company Annual Earnings*:  <input #earnings matInput placeholder="">
        </mat-form-field>

        <mat-form-field>
          Business Expenses (excluding salary): <input #expenses matInput placeholder="">
        </mat-form-field>

        <mat-form-field>
          Spouse Dividends Share(0-100%)<input #spouseShare matInput placeholder="">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="calculate(earnings.value, expenses.value, spouseShare.value)">Calculate</button>

      </div>
    </td>
    <td style="vertical-align:top">
      <div class="example-container mat-elevation-z8">

        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="directorSalary">
            <mat-header-cell *matHeaderCellDef> Salary </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.directorSalary}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="expenses">
            <mat-header-cell *matHeaderCellDef> Other Expenses </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.expenses}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="employerNi">
            <mat-header-cell *matHeaderCellDef> Employer's NI </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.employerNi}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="corpTax">
            <mat-header-cell *matHeaderCellDef> Corp.Tax </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.corpTax}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="distributableProfit">
            <mat-header-cell *matHeaderCellDef> Distributable Profit </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.distributableProfit}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dividends">
            <mat-header-cell *matHeaderCellDef> Dividends </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dividends}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ni">
            <mat-header-cell *matHeaderCellDef> NI </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ni}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="payeTax">
            <mat-header-cell *matHeaderCellDef> PAYE Tax </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.payeTax}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="takeHome">
            <mat-header-cell *matHeaderCellDef> Your TakeHome  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.takeHome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="spouseDividends">
            <mat-header-cell *matHeaderCellDef> Spouse Dividends </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.spouseDividends}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="spousePayeTax">
            <mat-header-cell *matHeaderCellDef> Spouse PAYE Tax </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.spousePayeTax}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="spouseTakeHome">
            <mat-header-cell *matHeaderCellDef> Spouse TakeHome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.spouseTakeHome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="totalTakeHome">
            <mat-header-cell *matHeaderCellDef> Total TakeHome</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.totalTakeHome}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </td>
  </tr>
</table>
